html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
ol,
.header {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

.header {
  width: 1200px;
  margin: 0 auto;
}

.hd {
  float: left;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.top {
  position: relative;
  height: 150px;
  z-index: 999;
}

.event {
  width: 350px;
}

.logo {
  width: 500px;
}

.info {
  width: 350px;
}

.top2 {
  margin: 250px;
  position: relative;
  margin-top: 10px;
  height: 300px;
}

.event a {
  position: relative;
  margin: 10px;
  top: 50px;
  left: 70px;
  color: gray;
}

.info a {
  position: relative;
  margin: 10px;
  top: 50px;
  color: gray;
}

#d_logo img {
  position: fixed;
  right: 650px;
  top: 0px;
  max-width: auto;
  height: 145px;
}

#search img {
  position: fixed;
  max-width: auto;
  height: 20px;
  display: block;
}

.top li:hover a {
  color: black;
}

/* 메뉴 + 서브메뉴 */

.d_menu {
  width: 100%;
  height: 50px;
}

.m::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: gray;
  transition: height 0.4s;
  border-radius: 5px;
}

.d_menu li {
  position: relative;
  width: 198px;
}

.d_menu a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 50px;
}

.d_menu ol li {
  position: relative;
  text-indent: 15px;
}

.d_menu .m {
  font-weight: bold;
}

.d_menu li .m:hover {
  color: rgb(177, 34, 34);
}

.top2 ul li div {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgb(190, 190, 190);
}

/* ---------------메뉴 hover-----------------*/
.top2 ul li:hover div {
  max-height: 350px;
}

.d_menu ol li:hover a {
  background-color: rgb(177, 34, 34);
  color: white;
}
